.calculator-graph {
  .generate-panel .ant-collapse-header {
    display: none;
  }
  .generate-panel .ant-collapse-content {
    border: none;
  }
  .graph-container {
    height: 500px;
    position: relative;
    .view-wrapper {
      position: relative;
      .graph-controls-wrapper {
        .graph-controls {
          bottom: 15px;
          .slider-wrapper {
            padding: 0 4px;
            line-height: 30px;
            display: inline-block;
            span {
              margin-top: 2px;
            }
            .slider {
              margin: 10px 2px 0;
            }
          }
          .slider-button {
            svg {
              margin-top: 4px;
            }
          }
        }
      }
      .graph {
        .view {
          .entities {
            .edge {
              marker-end: none;
            }
          }
        }
      }
    }
    .graph-input-section {
      height: 50px;
      position: absolute;
      z-index: 101;
      border-radius: 2px;
      border: solid 1px lightgray;
      background-color: white;
      color: #1e90ff;
      padding: 8px;
      bottom: 60px;
      left: 15px;
      .ant-row .ant-form-item {
        margin: 0;
        padding: 0;
      }
    }
  }
}
