.mc-nets-rules{
  max-height: 30vh;
  overflow: auto;
}
.generate-panel{
  .ant-collapse-header{
    display: none;
  }
  .ant-collapse-content{
    border: none
  }
}
.values-panel{
  .ant-collapse-content-box{
padding: 10px;
  }
  .ant-table-body{
    max-height: 280px;
  }
}